<!--
 * @Description: 
 * @Author: aLittleMango
 * @Date: 2021-08-03 16:17:46
 * @LastEditTime: 2021-08-03 16:51:28
 * @FilePath: \VSCode-Python\flaskDemo\templates\test\register.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="{{url_for('result') }}" method = "post">
    <p>姓名：<input type = "text" name = "姓名"></p>
    <p>年龄：<input type = "text" name = "年龄"></p>
    <p>性别：<input type = "text" name = "性别"></p>
    <p>地址：<input type = "text" name = "地址"></p>
    <p><input type = "submit" value = "提交"></p>
</form>
    
</body>
</html>